.display {
    display: flex;
    justify-content: start;
    padding: 0px 25px 25px;
    margin: 0px 0px 25px
}
@media screen and (max-width: 1235px) {
    .display {
        display:block;
        padding: 0px 20px 25px
    }
}
.cardItem {

    margin-left: 20px;
}
@media screen and (max-width: 1235px) {
    .cardItem {
        margin-left: 0px;
    }
}
.description {

    width: 372px;
    font-size: 18px;
    padding: 0px 0px 2px;
    font-weight: 600px;
    color: #252d43;
}

@media screen and (max-width: 1388px) {

    .description {
        margin: 5px 0px;
    }
}
@media screen and (max-width: 1235px) {
    .description {
        width: 100%;
        font-size: 15px;
    }
}
.description::after{
    content: '';
    height: 2px ;
    width:0%;
    padding:1px;
    background-color: white;
    display: block;
    transition: .5s ease-in-out ;
  }
  .description:hover::after{
    content: '';
    height: 1px ;
    width:auto ;
    /* padding:2px; */
    background-color: black;
    display: block;
  }
.read {
    font-size: 14px;
    color:black;
    margin: 0px 10px 0px 0px;
}

.display1 {
    display: flex;
    justify-content: start;
    align-items: center;
}

