.description {
    font-size: 18px;
    font-weight: bold;
    padding: 0px 0px 2px;
    margin: 0px 0px 20px;
}

@media screen and (max-width: 1235px) {
    .description {
        margin: 5px 0px 5px;
        font-size: 15px;
    }
}
.description::after{
    content: '';
    height: 2px ;
    width:0%;
    padding:1px;
    background-color: white;
    display: block;
    transition: .5s ease-in-out ;
  }
  .description:hover::after{
    content: '';
    height: 1px ;
    width:100% ;
    /* padding:2px; */
    background-color: black;
    display: block;
  }
.read {
    font-size: 14px;
    color: black;
}

.display1 {
    display: flex;
    justify-content: start;
    align-items: center;
    margin: 22px 0px 0px;
}

@media screen and (max-width: 1235px) {
    .display1 {
        margin: 0x 
    }
}
