html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}


  body {
    /* color: white; */
    background: white
  }
  .read {
    color:black;
    font-size: 12px;
    margin:0px 10px 0px 0px ;
  }

  .underline {
    /* / I don't know why this is needed, I just added it and it worked in IE Edge. If we remove this width, the gradient breaks in IE Edge / */
    width: calc(100%);
    background-image: linear-gradient(transparent calc(100% - 10px), black );
    background-repeat: no-repeat;
    background-size: 0% 11% ;
    background-position-y: bottom;
    transition: background-size 1s;
  }
  
  .link:hover .underline {
    background-size: 100% 11%;
  }

