

.mainContainer{
    padding: 0px 25px ;
}
@media screen  and (max-width: 786px) {
    .mainContainer{
        padding: 0px 10px ;
    }
}

/* .dateHeading {
    font-size: 14px;
    margin: 10px 0px 5px;
    color: #858993
} */

.description {

    width: 372px;
    font-size: 18px;
    padding: 0px 0px 2px;
    font-weight: 600px;
    color: #252d43;
}
@media screen and (max-width: 1150px) {
    .description {
        width: 100%;
      
    }
}
  .description::after{
    content: '';
    height: 2px ;
    width:0%;
    padding:2px;
    background-color: white;
    display: block;
    transition: .5s ease-in-out ;
  }
  .description:hover::after{
    content: '';
    height: 2px ;
    width:100% ;
    padding:2px;
    background-color: black;
    display: block;
  }
.read {
    font-size: 14px;
    color:black;
    margin:  0px;
}
.display {
    display: flex;
    justify-content: start;
    align-items: center;
    margin-top:20px;
}

